services:
  redis:
    container_name: promy-redis
    image: redis:7-alpine
    networks:
      - eventbus-network
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

networks:
  eventbus-network:
    name: eventbus-network  # force exact name
    driver: bridge

volumes:
  redis-data:
    driver: local
